[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-restful = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.8.10"
