/* Inventory.css */
/* Inventory.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.residence-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.residence-item {
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.residence-image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 20px;
}

.container {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-check {
  margin-bottom: 10px;
}

.residence-image {
  width: 100%; /* Adjust the width as needed */
  max-height: 200px; /* Adjust the maximum height as needed */
  object-fit: cover; /* Ensure the image covers the entire container */
}

.button-container {
  margin-top: 10px;
}
