
/* Add this CSS to your stylesheet or component */
.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: orange;
  }
  
  .login h2 {
    text-align: center;
    color: black;
  }
  
  .login label {
    display: block;
    margin-bottom: 8px;
    color:black;
  }
  
  .login input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login button {
    width: 100%;
    padding: 10px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;

  }
  .login button:hover {
    background: rgba(228, 9, 240, 0.927)51;
  }
  
  .login button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .login p {
    margin-top: 10px;
    text-align: center;
    color: white;
  }
  
  .login p a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  
  .login p a:hover {
    background:white;
  }
  
  .login p.error {
    color: white;
  }
  
  .login p.success {
    color: rgb(235, 230, 230);
  }